body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #5372f0;
}

.container{
    width: 690px;
    background-color: #fff;
    border-radius: 7px;
    padding: 30px;
}

.wrapper{
    border-radius: 5px;
    border: 1px solid #bbbb;
}

.wrapper .text-input{
    display: flex;
    border-bottom: 1px solid #bbb;
}

.text-input .to-text{
    border-left: 1px solid #bbb;
    border-radius: 0px;
}

.text-input textarea{
    height: 250px;
    width: 100%;
    border: none;
    outline: none;
    resize: none;
    font-size: 18px;
    border-radius: 5px;
    background-color: none;
    padding: 10px 15px;
}

.controls, li, .icons, .icons i{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.controls{
    list-style: none;
    padding: 12px 15px;
}

.controls .row.from .icons{
    border-right: 1px solid #bbb;
    padding-right: 15px;
}

.controls .row.to .icons{
    border-left: 1px solid #bbb;
    padding-left: 15px;
}

.controls .icons{
    width: 38%;
}

.controls .icons i{
    width: 50px;
    color: #9f9f9f;
    font-size: 14px;
    cursor: pointer;
    justify-content: center;
}

.controls .row select{
    border: none;
    outline: none;
    background-color: none;
    font-size: 18px;
}

button{
    width: 100%;
    padding: 14px;
    margin-top: 20px;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: #5372f0;
    border-radius: 5px;
    font-size: 17px;
    color: #fff;
}

@media(max-width:690px){
    .container{
        width: 90%;
    }

    .wrapper .text-input{
        flex-flow: column;
    }

    .controls{
        display: flex;
        flex-flow: column;
        gap: 12px;
    }

    .controls li:nth-child(1){
        flex-flow: row-reverse;
    }

    .text-input textarea{
        width: 85%;
    }
}